{% extends 'app1/base.html' %}
{% block content %} 
<h3>Cursos</h3>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Lenguaje</h5>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Matematicas</h5>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Fisica</h5>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Historia</h5>
      <a href="#" class="btn btn-primary">Ir</a>
    </div>
</div>



{% endblock %}